# Content:
 1. [Data types](#datatypes)
 2. [String manipulations: Slicing vs. Splitting](#Strings)
 3. [List](#list)
 4. [Concatenation vs. appending](#concat)
 5. [For loop](#forloop)
 6. [While loop](#whileloop)
 7. [Break vs. continue](#break)
 8. [Function](#function)
 9. [Modules](#module)
    >[9.1 os and sys](#os-and-sys)      
    >[9.2 Write and import your own module](#9.4-write-and-import-your-own-module)     
    >[9.3 math](#9.1-math)   
    >[9.4 cmath](#9.2-cmath)   
    >[9.5 numpy](#9.3-numpy)   
        >>[9.5.1 1D array](#9.3.1-1D-array)   
        >>[9.5.2 2D array](#9.3.2-2D-array)    
        >>[9.5.3 Dot product](#9.3.3-dot-product)                 
 10. [Input/Output](#inputoutput)
     >[10.1 Formatted output](#10.1-Formatted-output)   
     >[10.2 Read/Write](#10.2-Read/Write)

## 1. <a name="datatypes">Data types</a>

The elementary types of Python data are listed below. Later, we will learn that a collection of some these, for example an array of integer is also a data type in Python. We can think of such data types as derived data types as you must have done for fundamental units and derived units in physics.
- integer
- float
- complex
- string

In [1]:
a=1
type1=type(a)

a=1.0
type2=type(a)

a=complex(1,0) 
# Note: For the complex number, you have to specify real and imaginary parts inside a parenthesis.
type3=type(a)

a='ONE is 1'  
#Note: a string is specified inside single quotes.
type4=type(a) 

print(type1,type2, type3, type4)

<class 'int'> <class 'float'> <class 'complex'> <class 'str'>

In [2]:
value=22/7
print(value)

3.142857142857143

## 2. <a name="strings">String manipulations: Slicing vs. Splitting</a>

Learning how to manipulate strings is very useful. Think of a situation when your Ph.D. advisor will ask you to download a file with a lot of texts and asks you to count how many times some string like 'compound' occurs in it and asks you find out how many unique compounds are mentioned in that file.

In [3]:
str='May the force be with you!'

### Slicing

In [4]:
str[0]   # The count begins with 0 in Python

'M'

In [5]:
str[0:1]  # lowest index : upper index means from lowest index until one less than the upper index

'M'

In [6]:
str[0:5]

'May t'

### Splitting

In [7]:
str='1,2,3,4'
str.split(',')  # output is a list

['1', '2', '3', '4']

In [8]:
str.split(',')[0:2] # first two entries of the list

['1', '2']

In [9]:
seq='AATCCGCTACGCTGAATCCGACTACA'
sub_seqs=seq.split('A')     # Here 'A' is the marker or delimiter
print(sub_seqs)             # Split between successive adenines

['', '', 'TCCGCT', 'CGCTG', '', 'TCCG', 'CT', 'C', '']

In [9]:
type(sub_seqs)

In [10]:
N=len(sub_seqs)
print(N)

In [12]:
N=len(sub_seqs)
print(N)

9

In [13]:
for i in range(0,N):
    print(i,sub_seqs[i])    # NOTE: 4 empty spaces for intendation

0
1
2 TCCGCT
3 CGCTG
4
5 TCCG
6 CT
7 C
8

In [15]:
for i in range(0,N):
    print(i,sub_seqs[i]+'A')

0 A
1 A
2 TCCGCTA
3 CGCTGA
4 A
5 TCCGA
6 CTA
7 CA
8 A

In [14]:
#combine
sub_seqs[0]+sub_seqs[1]+sub_seqs[2]  # '+'' is for concatenation or combining

'TCCGCT'

In [17]:
plant='Magnifera'+ ',' + 'Indica'
print(plant)

Magnifera,Indica

In [19]:
plant.split(',')

['Magnifera', 'Indica']

In [20]:
mylist=plant.split(',')
genus=mylist[0]
species=mylist[1]
print(genus,species)

Magnifera Indica

## 3. <a name="list">List</a>

We have seen in one of the statements above that splitting a string returns a list. A list is useful object to collect  data.

In [11]:
seq='AATCCGCTACGCTGAATCCGACTACA'
sub_seqs=seq.split('A')
type(sub_seqs)

list

In [14]:
list_A=[1,2,3]  # make a list of integers
type(list_A)

list

In [15]:
type(list_A[0:1])

list

In [16]:
type(list_A[0]) # query on one element of the list

int

In [17]:
print(type(list_A[0]))

<class 'int'>

In [18]:
list_B=[1,'one']      # NOTE: contains objects of different types
print(type(list_B[0]),type(list_B[1]))

<class 'int'> <class 'str'>

In [19]:
len(list_B)

2

### Shallow copy vs. deep copy

In [20]:
A=[1,2,3,4]
print("List A is:", A)
#B=A[0:3]                    # Ignoring [0:3] means all elements are used
B=A # is a shallow copy
print("List B is:", B)
B[2]=7
print("List A is:", A)
print("List B is:", B)

List A is: [1, 2, 3, 4]
List B is: [1, 2, 3, 4]
List A is: [1, 2, 7, 4]
List B is: [1, 2, 7, 4]

Note that when B is changed A is also affected because the statement B=A does not 'copy' but only 'links' B to A. In order to copy a list to another independent one, one has to deep copy as shown below.

In [21]:
A=[1,2,3,4]
print("List A is:", A)
#B=A.copy()[0:3]    # Deep copy, ignoring [0:3] means all elements are used
B=A.copy() # deep copy A into B
print("List B is:", B)
B[2]=7
print("List A is:", A)
#seq.split?
#A.copy?

List A is: [1, 2, 3, 4]
List B is: [1, 2, 3, 4]
List A is: [1, 2, 3, 4]

## 4. <a name="concat">Concatenation vs. appending</a>

In [22]:
str1='What'
str2='is'
str3='life?'
print(str1+str2+str3)   # Concatenation of strings
print(str1+' '+str2+' '+str3)

Whatislife?
What is life?

In [23]:
str4=[str1,str2]
str5=[str3]
str4+str5              # Append elements to a list

['What', 'is', 'life?']

## 5. <a name="forloop">For loop</a>

In [24]:
N=5
for i in range(N):   # default offset (initial index) is 0, final index is N-1
    print(i)

0
1
2
3
4

In [25]:
for i in range(0,N):
    print(i)

0
1
2
3
4

In [26]:
for i in range(3,N):
    print(i)

3
4

In [27]:
step=2
for i in range(0,N,step):  # initial index = 0, final index = N, stride/step = 2
    print(i)

0
2
4

In [28]:
for i in range(N,0,-1):   # runs until 0+1
    print(i)

5
4
3
2
1

In [29]:
for i in [1,1,2,3,5,8]:  # instead of range, one can use a list
    print(i)

1
1
2
3
5
8

## 6. <a name="whileloop">While loop</a>

In [30]:
i=0
while i<5:  # while condition
    print(i)
    i=i+1   # increment by 1

0
1
2
3
4

## 7. <a name="break">Break vs. continue</a>

In [31]:
for i in range(0,8):
    if i == 5:       # same as if (i == 5):
        continue     # when i takes the value 5, the loop is skipped
    print(i)

0
1
2
3
4
6
7

In [32]:
for i in range(0,8):
    if i == 5:    # same as if (i == 5):
        break     # when i takes the value 5, the loop is terminated
    print(i)

0
1
2
3
4

In [33]:
for i in range(1,8):
    if i%2 != 0:     # same as if (if i%2 != 0):
        continue     # when i is odd skip
    print(i)

2
4
6

## 8. <a name="function">Function</a>

If part of your code performing a task is repeated multiple times, it is best to define that part of the code as a function. Here is how you can make your own function. This function will determine if an input data is an integer or not. The output will be 'true' if the data is an integer and 'false' is the data is not an integer.

In [34]:
def is_int(x):
    '''
    Takes an object as input and returns a boolean data as output.
    Later, I have to add more information here
    
    Example case 1: 
    ---------------
       use it to check whether a number is an integer
       is_int(5)
    '''
    out=False       # Assign False at the beginning 
    data_1=type(x)
    data_2=type(1)
    if data_1==data_2:
        out=True
    val1=x
    val2=x**2
    return(out,val1,val2)

In [35]:
help(is_int)

Help on function is_int in module __main__:

is_int(x)
    Takes an object as input and returns a boolean data as output.
    Later, I have to add more information here

    Example case 1:
    ---------------
       use it to check whether a number is an integer
       is_int(5)

In [36]:
print(is_int.__doc__)

    Takes an object as input and returns a boolean data as output.
    Later, I have to add more information here

    Example case 1:
    ---------------
       use it to check whether a number is an integer
       is_int(5)

In [37]:
is_int # then, press shift + enter

In [38]:
myoutput=is_int(10)

In [39]:
print(type(myoutput))

<class 'tuple'>

In [40]:
print(len(myoutput))

3

In [41]:
myoutput[0]

True

In [42]:
myoutput[1]

10

In [43]:
N_output=len(myoutput)
for i in range(N_output):
    print(myoutput[i])

True
10
100

In [44]:
type(is_int(10))

tuple

In [45]:
help(is_int)

Help on function is_int in module __main__:

is_int(x)
    Takes an object as input and returns a boolean data as output.
    Later, I have to add more information here

    Example case 1:
    ---------------
       use it to check whether a number is an integer
       is_int(5)

In [46]:
import numpy
help(numpy.sqrt)

Help on ufunc:

sqrt = <ufunc 'sqrt'>
    sqrt(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

    Return the non-negative square-root of an array, element-wise.

    Parameters
    ----------
    x : array_like
        The values whose square-roots are required.
    out : ndarray, None, or tuple of ndarray and None, optional
        A location into which the result is stored. If provided, it must have
        a shape that the inputs broadcast to. If not provided or None,
        a freshly-allocated array is returned. A tuple (possible only as a
        keyword argument) must have length equal to the number of outputs.
    where : array_like, optional
        This condition is broadcast over the input. At locations where the
        condition is True, the `out` array will be set to the ufunc result.
        Elsewhere, the `out` array will retain its original value.
        Note that if an uninitialized `out` array is created via the default
        ``out=None``, locations within it where the condition is False will
        remain uninitialized.
    **kwargs
        For other keyword-only arguments, see the
        :ref:`ufunc docs <ufuncs.kwargs>`.

    Returns
    -------
    y : ndarray
        An array of the same shape as `x`, containing the positive
        square-root of each element in `x`.  If any element in `x` is
        complex, a complex array is returned (and the square-roots of
        negative reals are calculated).  If all of the elements in `x`
        are real, so is `y`, with negative elements returning ``nan``.
        If `out` was provided, `y` is a reference to it.
        This is a scalar if `x` is a scalar.

    See Also
    --------
    lib.scimath.sqrt
        A version which returns complex numbers when given negative reals.

    Notes
    -----
    *sqrt* has--consistent with common convention--as its branch cut the
    real "interval" [`-inf`, 0), and is continuous from above on it.
    A branch cut is a curve in the complex plane across which a given
    complex function fails to be continuous.

    Examples
    --------
    >>> np.sqrt([1,4,9])
    array([ 1.,  2.,  3.])

    >>> np.sqrt([4, -1, -3+4J])
    array([ 2.+0.j,  0.+1.j,  1.+2.j])

    >>> np.sqrt([4, -1, np.inf])
    array([ 2., nan, inf])

In [47]:
# is_int?  # uncomment and try

In [48]:
print(is_int.__doc__)

    Takes an object as input and returns a boolean data as output.
    Later, I have to add more information here

    Example case 1:
    ---------------
       use it to check whether a number is an integer
       is_int(5)

In [49]:
dir(is_int) # get all options for a function

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

## 9. <a name="module">Modules</a>

One of the great advantages of using Python is the availability of a number of packages and modules that can be imported in our codes. Here are some examples. In the next notebook, there are examples of modules of use on data science.

### 9.1 os and sys

In [50]:
import os

In [51]:
# help(os)  # uncomment and try

In [52]:
os.getcwd()    # get the current working directory

'/Users/raghurama/repos/DataScience2023/ipynb'

In [53]:
import sys

In [54]:
sys.version

'3.9.4 (v3.9.4:1f2e3088f3, Apr  4 2021, 12:19:19) \n[Clang 12.0.0 (clang-1200.0.32.29)]'

In [55]:
sys.version_info

sys.version_info(major=3, minor=9, micro=4, releaselevel='final', serial=0)

### 9.2 Write and import your own module

In `mymodule.py` located in the same folder, we have defined two functions. Let's import this module.

In [56]:
import mymodule

In [57]:
# Call the greet() function from mymodule.py
mymodule.greet()

Hello, welcome!

In [58]:
# Call the multiply() function from mymodule.py
result = mymodule.multiply(4, 5)
print(result)

20

Another way is to importing these functions directly.

In [59]:
from mymodule import greet, multiply

# Call the greet() function from mymodule.py
greet()

# Call the multiply() function from mymodule.py
result = multiply(4, 5)
print(result)

Hello, welcome!
20

Suppose your module file is located in another directory, which is often the case, then you will have to use the `sys,path` to method to add the directory

In [60]:
import sys
sys.path.append('/Users/raghurama/repos/DataScience2023/ipynb/mymodules')

from algebra import square as my_sqr
from algebra import add as my_add

In [61]:
my_sqr(2)

4

In [62]:
my_add(3,4)

7

### 9.3 math

In [63]:
import math
#dir(math)      # uncomment, run and see

In [64]:
rad=5
Area=math.pi*rad**2
print(Area)

78.53981633974483

In [65]:
help(math.erf)

Help on built-in function erf in module math:

erf(x, /)
    Error function at x.

In [66]:
print(math.erf.__doc__)

Error function at x.

In [67]:
math.sqrt(2)

1.4142135623730951

In [68]:
import math as m
m.sqrt(2)

1.4142135623730951

In [69]:
from math import sqrt
sqrt(2)

1.4142135623730951

### 9.4 cmath

In [70]:
import cmath
# dir(cmath)   # uncomment and see

In [71]:
cmath.sin(math.pi/2)

(1+0j)

In [72]:
#import os

### 9.5 numpy

One of the most useful modules for this course is numpy. As a first application, we will use numpy to create 'arrays'.

In [73]:
import numpy
#dir(numpy)   # uncomment and see

#### 9.5.1 1D array

In [74]:
import numpy as np
a=np.array( [1.0,2.0] )   # Note that [1.0,2.0] is a list
print(a)
print(type(a))

[1. 2.]
<class 'numpy.ndarray'>

In [75]:
print(np.sqrt(a))

[1.         1.41421356]

In [76]:
b=[1.0,2.0]  # a list
a=np.array(b)
print(a)
print(type(a))

[1. 2.]
<class 'numpy.ndarray'>

In [77]:
a1=np.array(b,int)
print(a1)
a2=np.array(b,float)
print(a2)
a3=np.array(b,complex)
print(a3)

[1 2]
[1. 2.]
[1.+0.j 2.+0.j]

#### 9.5.2 2D array

In [78]:
A=np.array(  [ [1,2], [3,4] ]   )  # input is list of lists
print(A)

[[1 2]
 [3 4]]

#### 9.5.3 Dot product

In [79]:
A=np.array([[1,2],[3,2]])
B=np.array([[1,1],[2,2]])
x=np.array([7,3])
y=np.array([2,1])

In [80]:
print(np.dot(A,B))

[[5 5]
 [7 7]]

In [81]:
print(np.dot(A,x))

[13 27]

In [82]:
print(np.dot(x,y))

17

## 10. <a name="inputoutput">Input/Output</a>

In [83]:
T=input('Enter temperature: \n')

Enter temperature:
273.15

In [84]:
print(type(T))

<class 'str'>

In [85]:
T=eval(T)
print(T-273.15)

0.0

In [86]:
print(type(T))

<class 'float'>

### 10.1 Formatted output

In [87]:
# Normal printing
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [88]:
# Formatted printing
for i in range(11):
    print('{:5d}'.format(i))   # '{:5d}' means integer of width 5 characters

    0
    1
    2
    3
    4
    5
    6
    7
    8
    9
   10

In [89]:
for i in range(11):
    print('{:05d}'.format(i)) # '{:05d}' means integer of width 5 characters with empty spaces filled with zeroes

00000
00001
00002
00003
00004
00005
00006
00007
00008
00009
00010

In [90]:
for i in range(11):
    if (i < 10):
        print('aaaa{:1d}'.format(i))
    else:
        print('aaa{:2d}'.format(i))

aaaa0
aaaa1
aaaa2
aaaa3
aaaa4
aaaa5
aaaa6
aaaa7
aaaa8
aaaa9
aaa10

In [91]:
for i in range(5):
    print('{:8.3f}{:8.3f}'.format(i,math.sqrt(i))) # floats of 8-character width with 3 characters for fractions

   0.000   0.000
   1.000   1.000
   2.000   1.414
   3.000   1.732
   4.000   2.000

In [92]:
for i in range(5):
    print('{:8.3E}{:8.3E}'.format(i,math.sqrt(i))) # This is desired!

0.000E+000.000E+00
1.000E+001.000E+00
2.000E+001.414E+00
3.000E+001.732E+00
4.000E+002.000E+00

In [93]:
for i in range(5):
    print('{:8.3E} {:8.3E} {:8.3e} {:8.3e}'.format(i,math.sqrt(i),i,math.sqrt(i))) # Exponential format

0.000E+00 0.000E+00 0.000e+00 0.000e+00
1.000E+00 1.000E+00 1.000e+00 1.000e+00
2.000E+00 1.414E+00 2.000e+00 1.414e+00
3.000E+00 1.732E+00 3.000e+00 1.732e+00
4.000E+00 2.000E+00 4.000e+00 2.000e+00

### 10.2 Read/Write

First let's write something in a file

In [94]:
file_001=open('myfile_001.txt','w')
for i in range(10):
    file_001.write('{:8.3E},{:8.3E}'.format(i,math.sqrt(i)))
file_001.close()

In [95]:
os.getcwd()    # get the current working directory

'/Users/raghurama/repos/DataScience2023/ipynb'

In [96]:
file_001=open('myfile_001.txt','w')
for i in range(10):
    file_001.write('{:8.3E},{:8.3E}\n'.format(i,math.sqrt(i)))
file_001.close()

Now let's read the same file

In [97]:
file_001=open('myfile_001.txt','r')
for line in file_001:
    print(line)
file_001.close()

0.000E+00,0.000E+00

1.000E+00,1.000E+00

2.000E+00,1.414E+00

3.000E+00,1.732E+00

4.000E+00,2.000E+00

5.000E+00,2.236E+00

6.000E+00,2.449E+00

7.000E+00,2.646E+00

8.000E+00,2.828E+00

9.000E+00,3.000E+00

In [98]:
file_001=open('myfile_001.txt','r')
for line in file_001:
    col_1=line.split(',')[0]   # ToDO: Must check this line later
    print(col_1,type(col_1),eval(col_1),type(eval(col_1)))
file_001.close()

0.000E+00 <class 'str'> 0.0 <class 'float'>
1.000E+00 <class 'str'> 1.0 <class 'float'>
2.000E+00 <class 'str'> 2.0 <class 'float'>
3.000E+00 <class 'str'> 3.0 <class 'float'>
4.000E+00 <class 'str'> 4.0 <class 'float'>
5.000E+00 <class 'str'> 5.0 <class 'float'>
6.000E+00 <class 'str'> 6.0 <class 'float'>
7.000E+00 <class 'str'> 7.0 <class 'float'>
8.000E+00 <class 'str'> 8.0 <class 'float'>
9.000E+00 <class 'str'> 9.0 <class 'float'>